{% extends 'base.html' %} {% block title %}
<title>Nosotros</title>
{% endblock %} {% block contenedor %}
<div class="mx-auto border-bottom py-4 text-center" style="width: 500px">
  <h1>Nuestra empresa!</h1>
</div>

<p class="mx-auto border border-dark p-4 text-center" style="width: 500px">
  Somos Germán y Silvina, un matrimonio que se dedica a actividades no vinculadas a la programación
   y hemos decidido aprender programación en python con el objetivo de llevar a cabo en la vida real 
  nuestro proyecto de vender productos orientados para personas con Alzheimer.
</p>
<div class="mx-auto text-center" style="width: 500px">
  <a href="/Products/list-products">
    <button class="btn btn-gral">Ver los productos</button>
  </a>
</div>
{% endblock %}
